body
	background white
	font-size 18px
	p
		font-weight lighter
	
//=========================================
// ** components **
//=========================================
	
.btn
	border 0
	color white
	border-radius 50px
	font-size 16px
	padding 12px 25px

.btn.btn-blue
	background $normal-blue
	&:hover
		background $light-blue